
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.frame {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid black;
    height: 65vh;
    width: 20vw;
    border-radius: 15px;
    flex-wrap: wrap;
    background-color: rgb(205, 235, 247);
}

.output {
    border: 1px solid black;
    width: 18vw;
    height: 10vh;
    margin-top: 1rem;
    border-radius: 8px;
    text-align: end;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(182, 243, 165)
}

.btbox {
    /* border: 1px solid rgb(129, 123, 123); */
    width: 20vw;
    height: 49vh;
    /* margin-top: 1rem; */
    border-radius: 8px;
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.button{
    border: 1px solid gray;
    box-shadow: 2px 2px  5px rgb(175, 6, 6);
    width: 4vw;
    height: 8vh;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black; 
    font-size: 1rem;
    font-weight: bold; 
}

.button:hover{
    background-color: rgb(111, 106, 106);
}